@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Roboto:wght@400;700&display=swap');

:root {
    --light-grey: rgb(229, 229, 229);
    --dark-grey: rgb(197, 197, 197);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-rows: 1fr 6fr;
    min-height: 100vh;
    background-color: white;
    margin: 0;
}

header {
    background-color: rgb(0, 119, 128);
    display: flex;
    padding-left: 2rem;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#projects {
    background-color: var(--light-grey);

}

#buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
}

#todos {
    background-color: white;

}

#todoList {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    color: white;
    font-size: 2.5rem;
}

.side {
    display: flex;
    flex-direction: column;
}

.list {
    height: 70%;
    overflow: auto;
}

.hidden {
    display: none;
}

button {
    background-color: rgb(205, 135, 191);
    border: none;
    box-shadow: -2px 2px 5px grey;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
    background-color: rgb(172, 110, 160);
}

button:active {
    transform: translate(2px, 2px);
}

.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 1rem;
}

.selectedContainer {
    background-color: var(--dark-grey);
}

.todoContainer {
    background-color: var(--light-grey);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid var(--dark-grey);
}

.todoBtnContainer {
    display: flex;
    gap: 1rem;
}

fieldset {
    border: none;
    padding: 0px;
}

form {
    padding: .5rem;
    border-bottom: var(--dark-grey);

}

.formSection {
    padding: .5rem;
}

h3 {
    margin-bottom: 0px;
}

.todoDetails {
    background-color: var(--light-grey);
    padding: 1rem;
    border-bottom: var(--dark-grey);
}

h5 {
    font-size: 1.1rem;
    padding: 1rem;
}

.editContainer {
    background-color: var(--light-grey);
    padding: 1rem;
    border-bottom: var(--dark-grey);
}

button:focus {
    background-color: rgb(172, 110, 160);
}