@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Roboto:wght@400;700&display=swap');

:root {
    --light-grey: rgb(229, 229, 229);
    --dark-grey: rgb(197, 197, 197);
    --blue: rgba(47,201,226,1);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-rows: 1fr 6fr;
    min-height: 100vh;
    background-color: white;
    margin: 0;
}

header {
    background-color: rgb(0, 119, 128);
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    color: white;
    font-size: 2.6rem;
    margin-left: 30px;
}

.rainbow {
    height: 10px;
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, 
    rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, 
    rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%);
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#projects {
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;

}

.formSelector p {
    font-size: 1.15rem;
}

#projects h2 {
    margin-left: 1rem;
    margin-top: 2rem;
}

#todos {
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;

}

#todoList {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 0rem 1rem;
}

#todoList h5 {
    margin-bottom: 0px;
}

#todoForm {
    margin: .5rem 2rem;
    border-radius: 8px;
}

.side {
    display: flex;
    flex-direction: column;
}

.list {
    overflow: auto;
}

.hidden {
    display: none;
}

input[type=button] {
    border: none;
    box-shadow: -2px 2px 5px grey;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

input[type=button]:hover {
    cursor: pointer;
}

input[type=button]:active {
    transform: translate(2px, 2px);
}

input[type=button]:disabled:active {
    transform: none;
}

.detailsBtn {
    border: none;
    background-color: var(--light-grey);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.detailsBtn:hover {
    color: grey;
    cursor: pointer;
}

.cancelBtn {
    background-color: rgba(255,0,0,1);
    margin-left: .5rem;
    border: none;
    box-shadow: -2px 2px 5px grey;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
}

.cancelBtn:hover {
    background-color: rgb(177, 16, 16);
    cursor: pointer;
}

.submitBtn {
    background-color: rgba(79,220,74,1);
    border: none;
    box-shadow: -2px 2px 5px grey;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;}

.submitBtn:disabled:hover {
    background-color: rgba(79,220,74,1);
    cursor: default;
}

.submitBtn:hover {
    background-color: rgb(30, 162, 30);
    cursor: pointer;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: .75rem;
    padding-left: 1.5rem;
    border-radius: 8px;
}

.projectContainer:hover {
    cursor: pointer;
    background-color: var(--dark-grey);
}

.selectedContainer {
    background-color: var(--dark-grey);
}

.todoContainer {
    background-color: var(--light-grey);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: .5rem 1rem;
    border-radius: 8px;
    border-left: 8px solid var(--blue);
}

.todoBtnContainer {
    display: flex;
    gap: 1rem;
}

fieldset {
    border: none;
    padding: 0px;
}

form {
    padding: 1rem;
    background-color: var(--light-grey);
    padding: 1rem;
    background-color: var(--light-grey);
}

select, option {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .9rem;
}

input[type=text], input[type=date] {
    border-radius: 8px;
    border: 1px solid var(--light-grey);
    height: 20px;
    margin-left: .5rem;
    padding: 3px;
}

.formSelector {
    margin-left: 2rem;
    margin-top: 1rem;
}

.formSelector p {
    margin: 0;
}

#todoBtn p {
    margin-left: 1rem;
}

.formSelector:hover {
    cursor: pointer;
    color: rgb(119, 119, 119);
}

.formSection {
    padding: .5rem;
}

h3 {
    margin-bottom: 0px;
}

@keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}

.todoDetails {
    background-color: var(--light-grey);
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    height: 30%;
    width: 30%;
    animation: .1s linear fadein;
    background-color: var(--light-grey);
    font-size: 1.1rem;
    box-shadow: -2px 2px 5px grey;
}

.todoDetails p {
    margin-top: 0px;
}

h5 {
    font-size: 1.1rem;
    padding: 1rem;
}

.editContainer {
    background-color: var(--light-grey);
    padding: 1rem;
    border-bottom: var(--dark-grey);
}

.deleteBtn {
    background-color: var(--light-grey);
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9rem;
}

.deleteBtn:hover {
    color: grey;
    cursor: pointer;
}

.detailsDiv {
    display: flex;
    gap: .5rem;
    padding-left: 1rem;
}

.cancelDiv {
    display: flex;
    justify-content: flex-end;
    background-color: var(--blue);
    margin-bottom: 20px;
    padding: .5rem;
}

.todoCancelBtn {
    box-shadow: none;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    padding: none;
    border: none;
    font-size: 1rem;
}

.todoCancelBtn:hover {
    color: grey;
    cursor: pointer;
}